- provide(:title, "All recipes")
- @recipes.each do |recipe|
  .row
    .col-md-6.col--center
      .Recipe
        %h1.Recipe-title= link_to recipe.title, recipe
        .image-wrapper
          = link_to recipe do
            = image_tag recipe.image_url(:normal), class: "img-thumbnail"
