= simple_form_for recipe.comments.new, url: recipe_comments_path(:recipe_id => recipe.id), remote: true, html: {class: 'form-inline'} do |f|
  = f.input :body, placeholder: "Write comments...", label: false
  = f.submit "Post", class: "btn btn-primary"
