#floatingCirclesG.Loadmore-icon
	.f_circleG#frotateG_01
	.f_circleG#frotateG_02
	.f_circleG#frotateG_03
	.f_circleG#frotateG_04
	.f_circleG#frotateG_05
	.f_circleG#frotateG_06
	.f_circleG#frotateG_07
	.f_circleG#frotateG_08
